<%- include('../layout/header') %>
<link rel="stylesheet" href="/css/profileStyle.css">
<link rel="stylesheet" href="css/mystyle.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="colorlib-loader"></div>
 


<div id="page">


  <nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
      <div class="container">
        <div class="row">

          <div class="d-flex align-items-center col-sm-7 col-md-9 font-monospace">
            <i class="fa-brands fa-wizards-of-the-coast" style="color: #000000; font-size: 3rem;  "></i>
            <div id="colorlib-logo">Wizcart</div>
          </div>


          <div class="col-sm-5 col-md-3 " style="margin-left: -104px">
            <form action="" class="search-wrap">
              <div class="form-group">
                <input type="search" class="form-control search" style="margin-top: 5px; margin-left: 3px;" placeholder="Search">
                <button class="btn btn-primary submit-search text-center" style="margin-top: 27px; border-radius: 40px;" type="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-left menu-1">
            
								<% if (typeof user !== 'undefined') { %>
                  <div  class="dropdown profile">
										<a class="btn  dropdown-toggle" style="background-color: #88c8bc98;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fa-solid fa-user " style="color: #000000; font-size: 1.5rem;"></i> <%= user.name %>
										</a>
								
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="/home"><i class="fa-solid fa-house" style="color: #000000;"></i>HOME</a></li>

											<li><a class="dropdown-item" href="/profile"><i class="fa-solid fa-file-invoice"></i> MY ACCOUNT</a></li>
											<li><a class="dropdown-item" href="/getOrderHistory"><i class="fa-solid fa-truck"></i> My Orders</a></li>
											<!-- <li><a class="dropdown-item" href=""><i class="fa-solid fa-heart"></i> Wishlist</a></li> -->
											<li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log Out</a></li>
										</ul>
									</div>
                <% } else { %>

                  <li  class="has-dropdown profile "  style="color: aliceblue;">
                    <a  href="login"><i class="fa-regular fa-beat-fade fa-user" style="color: #000000;"></i>LOGIN</a>
                    <ul class="dropdown" style="background-color:#88c8bc;">
                      <li><a class="text-dark" href="login"><i class="fa-solid fa-wallet"></i>Login</a></li>
                      <!-- <li><a class="text-dark" href="order-complete.html"><i class="fa-solid fa-truck" style="color: #000000;"></i>my orders</a></li>
                      <li><a class="text-dark" href="add-to-wishlist.html"><i class="fa-solid fa-heart" style="color: #000000;"></i>Wishlist</a></li>
                      <li><a class="text-dark" href="product-detail.html"><i class="fa-solid fa-right-from-bracket" style="color: #000000;"></i>Log Out</a></li> -->
                      </ul>
                  </li>



                  <% } %>

          </div>

        </div>
      </div>
    </div>
    <div class="sale " style="background-color:  #88c8bc51;">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 offset-sm-2 text-center ">
            <div class="row">

            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <div class="container light-style flex-grow-1 container-p-y ">
    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>
    <div class="card overflow-hidden " >
      <div class="row no-gutters row-bordered row-border-light" >
        <div class="col-md-3 pt-0" >
          <div class="list-group list-group-flush account-settings-links ">
            <a class="list-group-item list-group-item-action active "  data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action"  data-toggle="list" href="#account-change-password">Change password</a>
            <!-- <a class="list-group-item list-group-item-action" style="background-color: #88c8bc51;" data-toggle="list" href="#account-info">Manage addresses</a> -->
            <a class="list-group-item "  href="/manageaddress">Manage addresses</a>
           <!--  <a class="list-group-item list-group-item-action" style="background-color: #88c8bc51;" data-toggle="list" href="#account-social-links">Social links</a>
            <a class="list-group-item list-group-item-action" style="background-color: #88c8bc51;" data-toggle="list" href="#account-connections">Connections</a>
            <a class="list-group-item list-group-item-action" style="background-color: #88c8bc51;" data-toggle="list" href="#account-notifications">Notifications</a> -->
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">
              <div class="card-body media align-items-center">
                <img src="/images/provil wa kosong.jpeg" alt class="d-block ui-w-80">
                <div class="media-body ml-4">

                  <div class="text-light small mt-1 text-dark">
                    <p class="text-dark font-weight-bold">
                      <%=user.name%>
                    </p>
                    <p class=" text-dark font-weight-bold ">
                      <%=user.email%>
                    </p>
                  </div>
                  <!-- <button type="button" class="btn btn-default md-btn-flat">Reset</button> -->



                </div>



              </div>
              <hr class="border-light  m-0 ">

              <div class="card-body  " id="UpdateProfileFor,">

                <div class="form-group col-6 ">
                  <label class="form-label">Name</label>
                  <input id="NewName" type="text" style="color: #000000; font-size: 30px;" class="form-control  text-dark  mb-1" placeholder="Username">


                </div>
                <button id="NameSumbit" type="button" class=" ms-2  btn btn-outline-dark col-2" style="width: 55px;">Save</button>



                <hr class="bg-light m-0">


                <div class="form-group col-6">
                  <label class="form-label">E-mail</label>
                  <input id="updateEmail" type="text" class="form-control mb-1" onkeyup="" placeholder="Email">
                </div>

                <button id="updateEmailsumbit" type="button" class=" ms-2  btn btn-outline-dark col-2" style="width: 55px;">Save</button>





                <!-- Bootstrap MODAL  -->
                <!-- The Modal -->
                <div class="modal " style="background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(5px);" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header ">
                        <h4 class="modal-title ms-5"> ENTER OTP </h4>
                        <button type="button" id="modal-close" class="btn-close" data-bs-dismiss="modal"></button>

                      </div>


                      <!-- Modal body -->
                      <div class="modal-body ms-5">
                        <!-- <label for="otp">Enter OTP</label> -->
                        <input id="otpInput" placeholder="enter valid OTP" type="text" onkeyup="otpVal()">
                        <div id="otpValidationMessage"></div>
                      </div>



                      <p>
                        <span class="text-danger  ms-5">Your OTP will expire in 2
                          minutes</span>
                        <br>
                        <span class="text-danger  text-dark  ms-5">otp send on new
                          email</span>

                      </p>


                      <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" onclick="sendOtp()">Submit</button>
                      </div>

                    </div>
                  </div>
                </div>





                <hr class="bg-light m-0">

                <br>
                <br>
                <br>

              </div>
              <br>
              <br>


            </div>
            <div class="tab-pane fade" id="account-change-password">



              <div class="card-body pb-2">
                <div class="form-group col-6 ">
                  <label class="form-label">Current password</label>
                  <input id="current-password" type="password" style="color: #000000; font-size: 30px;" class="form-control  text-dark  mb-1" placeholder="Username" onkeyup="vpassword()">
                  <p class="text-end " style="cursor: pointer;" onclick="hello()"> <a href="/forgetPassword">forgetPassword?</a>
                    <div id="errmesg-password1" class="error-message1 text-danger">&nbsp</div>
                  </p>
                </div>


                <div class="form-group col-6 ">
                  <label class="form-label">new password</label>
                  <input id="new-password" type="password" style="color: #000000; font-size: 30px;" class="form-control  text-dark  mb-1" placeholder="newPassword" onkeyup="vpassword()">
                  <div id="errmesg-password2" class="error-message2 text-danger">&nbsp</div>

                </div>
                <div class="form-group col-6 ">
                  <label class="form-label">Repeat new password</label> 
                  <input id="conform-new-password" type="password" style="color: #000000; font-size: 30px;" class="form-control  text-dark  mb-1" placeholder="Username" onkeyup="vpassword()">
                  <div id="errmesg-password3" class="error-message3 text-danger">&nbsp</div>

                </div>
                <br>

                <button class="btn btn-primary " id="passSumbit" onclick="newPasswordSumbit()" role="button">submit</button>
              </div>
            </div>


            <div class="tab-pane fade" id="account-info">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">manage address</label>
                  <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                </div>
                <!-- <div class="form-group">
                  <label class="form-label">Birthday</label>
                  <input type="text" class="form-control" value="May 3, 1995">
                </div> -->
                <!-- <div class="form-group">
                  <label class="form-label">Country</label>
                  <select class="custom-select">
                    <option>USA</option>
                    <option selected>Canada</option>
                    <option>UK</option>
                    <option>Germany</option>
                    <option>France</option>
                  </select>
                </div> -->
              <!-- </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">
                <h6 class="mb-4">Contacts</h6>
                <div class="form-group">
                  <label class="form-label">Phone</label>
                  <input type="text" class="form-control" value="+0 (123) 456 7891">
                </div> -->
                <!-- <div class="form-group">
                  <label class="form-label">Website</label>
                  <input type="text" class="form-control" value>
                </div> -->
              </div>
            </div>




            <div class="tab-pane fade" id="account-social-links">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">Twitter</label>
                  <input type="text" class="form-control" value="https://twitter.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Facebook</label>
                  <input type="text" class="form-control" value="https://www.facebook.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Google+</label>
                  <input type="text" class="form-control" value>
                </div>
                <div class="form-group">
                  <label class="form-label">LinkedIn</label>
                  <input type="text" class="form-control" value>
                </div>
                <div class="form-group">
                  <label class="form-label">Instagram</label>
                  <input type="text" class="form-control" value="https://www.instagram.com/user">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="account-connections">
              <div class="card-body">
                <button type="button" class="btn btn-twitter">Connect to
                  <strong>Twitter</strong></button>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <h5 class="mb-2">
                  <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i class="ion ion-md-close"></i> Remove</a>
                  <i class="ion ion-logo-google text-google"></i>
                  You are connected to Google:
                </h5>
                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <button type="button" class="btn btn-facebook">Connect to
                  <strong>Facebook</strong></button>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <button type="button" class="btn btn-instagram">Connect to
                  <strong>Instagram</strong></button>
              </div>
            </div>
            <div class="tab-pane fade" id="account-notifications">
              <div class="card-body pb-2">
                <h6 class="mb-4">Activity</h6>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked>
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone comments on my
                      article</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked>
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone answers on my forum
                      thread</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone follows me</span>
                  </label>
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">
                <h6 class="mb-4">Application</h6>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked>
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">News and announcements</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Weekly product updates</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked>
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Weekly blog digest</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>






  <footer id="colorlib-footer" role="contentinfo">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col footer-col colorlib-widget">
          <h4>About Wizcart</h4>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic life</p>
          <p>
          <ul class="colorlib-social-icons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
          </p>
        </div>
        <div class="col footer-col colorlib-widget">
          <h4>Customer Care</h4>
          <p>
          <ul class="colorlib-footer-links">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Returns/Exchange</a></li>
            <li><a href="#">Gift Voucher</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Special</a></li>
            <li><a href="#">Customer Services</a></li>
            <li><a href="#">Site maps</a></li>
          </ul>
          </p>
        </div>
        <div class="col footer-col colorlib-widget">
          <h4>Information</h4>
          <p>
          <ul class="colorlib-footer-links">
            <li><a href="#">About us</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Order Tracking</a></li>
          </ul>
          </p>
        </div>

        <div class="col footer-col">
          <h4>News</h4>
          <ul class="colorlib-footer-links">
            <li><a href="blog.html">Blog</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Exhibitions</a></li>
          </ul>
        </div>

        <div class="col footer-col">
          <h4>Contact Information</h4>
          <ul class="colorlib-footer-links">
            <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
            <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
            <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
            <li><a href="#">yoursite.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>
            <span>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script> >All dights reserved | This
              template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </span>

            <span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a>
              , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>
<% if (toast.length> 0) { %>
<div id="toast" class="toast-black  toast show">
  <%= toast[0] %>
</div>
<% } %>


<button type="button" class=" btn btn-outline-dark  col-2" id='otpInputbtn' data-bs-toggle="modal" data-bs-target="#myModal">
  sendOTP</button>


<SCript>
  document.addEventListener('DOMContentLoaded', function() {
    var toast = document.getElementById('toast');
    if (toast) {
      toast.classList.add('show');
      // Hide the toast message after 3 seconds (3000 milliseconds)
      setTimeout(function() {
        toast.classList.remove('show');
      }, 3000);
    }
  });




  document.getElementById('NameSumbit').addEventListener('click', () => {

    const newName = document.getElementById('NewName').value
    let regex = /^[A-Za-z\s]{5,}$/;
    if (regex.test(newName)) {



      const data = {
        updateName: newName
      }

      fetch('/updatename', {
          method: 'Post',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        }).then(response => response.json())
        .then(data => {
          console.log('Success:', data);
          Swal.fire({
            position: "center",
            icon: "success",
            title: `name was changed into ${newName}`,
            showConfirmButton: false,
            timer: 1500
          });

          document.getElementById('NameSumbit').disabled = true;

        })
        .catch(error => {
          console.error('Error:', error);
        });

    } else {
      Swal.fire("Enter a valid name");
    }



  });




  document.getElementById('updateEmailsumbit').addEventListener('click', () => {
    const newEmail = document.getElementById('updateEmail').value;

    if (/^[^\s@]+@gmail\.com$/i.test(newEmail)) {

      const data = {
        updateEmail: newEmail
      };

      fetch('/updateemail', {
          method: "POST",
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {



          document.getElementById('otpInputbtn').click();


          console.log('Success:', data);

        })
        .catch(error => {
          console.error('Error:', error);
        });

    } else {
      Swal.fire("Enter a valid e mail ");

    }
  });




  function otpVal() {
    const otpInput = document.getElementById('otp').value;
    const regex = /^\d{6}$/

    const validationMessage = document.getElementById('otpValidationMessage');


    if (regex.test(otpInput)) {
      validationMessage.textContent = 'Valid OTP';
      validationMessage.style.color = 'green';
    } else {
      validationMessage.textContent = 'Invalid OTP';
      validationMessage.style.color = 'red';
    }


  }


  function sendOtp() {
    const newEmail = document.getElementById('updateEmail').value;
    const OTP = document.getElementById('otpInput').value
    const regex = /^\d{6}$/;
    if (regex.test(OTP)) {
      const data = {
        OTP: OTP
      };


      fetch('/otpemailupdate', {
          method: "post",
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),

        }).then(response => response.json())
        .then(data => {
          if (data.success) {
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: `OTP verified successfully. Email updated to ${newEmail}`,
              showConfirmButton: false,
              timer: 1500
            });

            // document.getElementById('modal-close').click();
            document.getElementById('modal-close').click();
            document.getElementById('updateEmailsubmit').disabled = true;




          } else {
            Swal.fire({
              title: 'Error',
              text: data.message,
              icon: 'error',
              confirmButtonText: 'Ok'
            });
          }

          console.log('Success:', data);
        })
        .catch(error => {
          console.error('Error:', error);
        });
    } else {
      //  alert('enter a valid otp ')
      Swal.fire({
        title: 'Enter valid otp ',
        text: 'enter 6 digit otp ',
        icon: 'error',
        confirmButtonText: 'Ok'
      });
    }

  }






  function newPasswordSumbit() {
   
     
    const currentPass=document.getElementById('current-password').value

    const  newPass=  document.getElementById('new-password').value
    const conformPass = document.getElementById('conform-new-password').value

    if(newPass!==conformPass ){
        Swal.fire("Password  does not match ");
        return;
    }else{
         
        const data={
            currentPass:currentPass,
            newPass:newPass
        }
       
        
        fetch('/ProfilUpdatePass',{
            method:'POST',
            headers:{
                'content-Type':'application/json',
            },
            
            body: JSON.stringify(data)
        }).then(response=>response.json())
        .then(data=>{
   
            if (data.message) {
             Swal.fire({
            position: "center",
            icon: "success",
            title: data.message,
            showConfirmButton: false,
            timer: 1500
        });
       } else {
      
        Swal.fire('current password is incorrect. please try again');
        }
}).catch(err=>{
            Swal.fire({
              title: 'Error',
              text: data.message,
              icon: 'error',
              confirmButtonText: 'Ok'
            });
          
            


        });
      
    }

  }
  

  function vpassword() {
    const currentPass = document.getElementById('current-password');
    const newPass = document.getElementById('new-password').value;
    const confirmPass = document.getElementById('conform-new-password').value;
    const err1 = document.getElementById("errmesg-password1");
    const err2 = document.getElementById("errmesg-password2");
    const err3 = document.getElementById("errmesg-password3");

    const PASSWORD_REGEX = /^[\w\d]{6,}$/;

    // Validate current password
    if (!PASSWORD_REGEX.test(currentPass.value)) {
        err1.innerHTML = 'Password must be at least 6 characters';
        currentPass.style.backgroundColor = 'red';
        currentPass.classList.remove('is-valid');
        currentPass.classList.add('is-invalid');
    } else {
        err1.innerHTML = '';
        currentPass.style.backgroundColor = '';
        currentPass.classList.remove('is-invalid');
        currentPass.classList.add('is-valid');
    }

    // Validate new password
    if (!PASSWORD_REGEX.test(newPass)) {
        err2.innerHTML = 'Password must be at least 6 characters';
        document.getElementById('new-password').style.backgroundColor = 'red';
        document.getElementById('new-password').classList.remove('is-valid');
        document.getElementById('new-password').classList.add('is-invalid');
    } else {
        err2.innerHTML = '';
        document.getElementById('new-password').style.backgroundColor = '';
        document.getElementById('new-password').classList.remove('is-invalid');
        document.getElementById('new-password').classList.add('is-valid');
    }

    // Validate confirm password
    if (newPass !== confirmPass || !PASSWORD_REGEX.test(confirmPass)) {
        err3.innerHTML = 'Passwords do not match or are not valid';
        document.getElementById('conform-new-password').style.backgroundColor = 'red';
        document.getElementById('conform-new-password').classList.remove('is-valid');
        document.getElementById('conform-new-password').classList.add('is-invalid');
    } else {
        err3.innerHTML = '';
        document.getElementById('conform-new-password').style.backgroundColor = '';
        document.getElementById('conform-new-password').classList.remove('is-invalid');
        document.getElementById('conform-new-password').classList.add('is-valid');
    }

    // Check if any errors exist to disable the submit button
    const hasErrors = err1.innerHTML !== '' || err2.innerHTML !== '' || err3.innerHTML !== '';
    const submitBtn = document.getElementById('passSumbit');
    submitBtn.disabled = hasErrors;
}


       
function hello() {
  Swal.fire({
    title: "Sweet!",
    text: "OTP sent to verified email address",
    imageUrl: "https://unsplash.it/400/200",
    imageWidth: 400,
    imageHeight: 200,
    imageAlt: "Custom image",
    input: 'number',  // Type of input (numeric for OTP)
    inputLabel: 'Enter 6 digit OTP',  // Label for the input field
    inputPlaceholder: 'Enter OTP',  // Placeholder text for the input field
    showCancelButton: true,
    confirmButtonText: 'Submit',
    showLoaderOnConfirm: true,
    preConfirm: (otp) => {
      // Validate OTP here (should be exactly 6 digits)
      if (!otp || otp.toString().length !== 6 || isNaN(otp)) {
        Swal.showValidationMessage('Please enter a valid 6 digit OTP.');
      } else {
        return otp; // Return valid OTP to preConfirm
      }
    },
  }).then((result) => {
    if (result.isConfirmed) {
      const otp = result.value;
      // Send OTP to backend (Node.js)
      sendDataToNodeJS(otp);
    }
  });
}

function sendDataToNodeJS(otp) {
  // Example: Sending OTP to Node.js backend using fetch API
  fetch('/verify-otp', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ otp }),
  })
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    // Handle response from server if needed
    console.log('Server response:', data);
  })
  .catch(error => {
    console.error('Error during fetch operation:', error);
    Swal.fire('Error', 'Failed to verify OTP. Please try again.', 'error');
  });
}










</SCript>


<%- include('../layout/footer') %>